<div class="container">
    <div class="row pb-2">
        <div class="col">
            <label>Microservices</label>
            <ng-select [items]="microservices"
                        bindLabel="name"
                        bindValue="id"
                        [multiple]="true"
                        placeholder="Select microservices"
                        [(ngModel)]="selectedMicroservicesId">
            </ng-select>
        </div>
        <div class="col">
            <label for="calendar-start-24h">Start Date</label>
            <p-datepicker inputId="calendar-start-24h" [showIcon]="true" [(ngModel)]="startDate" [showTime]="true" [hourFormat]="'24'" />
        </div>
        <div class="col">
            <label for="calendar-end-24h">End Date</label>
            <p-datepicker inputId="calendar-end-24h" [showIcon]="true"  [(ngModel)]="endDate" [showTime]="true" [hourFormat]="'24'" />
        </div>
        <div class="col">
            <button pButton 
                type="button" 
                icon="pi pi-file-pdf" 
                class="p-button-danger p-button-rounded" 
                label="Export PDF" 
                (click)="exportToPDF()">
            </button>
        </div>
    </div>
    <div class="row">
        <div class="card w-100 h-50">
            <app-error-list-table [errorLogs]='errorList' ></app-error-list-table>
        </div>
    </div>
</div>

<app-chat-bot-window></app-chat-bot-window>
